.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

div {
  margin: auto;
  padding: 20px;
}

a {
  text-decoration: none;
}

/* SECTIONS */

#projects, #navigation {
  background-color: #f8f5ef;
  color: #4f4f4f;
}

#header {
  background-color: white;
}

#about {
  background-color: #9BA6A1;
}

#resume {
  background-color: #9BA6A1;
}

#contact {
  background-color: #af6055;
}


/* ROWS */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.row-two {
  padding: 20px;
  margin: 0;
  width: 300px;
}

.row-three {
  margin: 10px;
  padding: 20px;
  width: 300px;
}

.row-four {
  margin: 10px;
  padding: 20px;
  width: 260px;
}

/* CARDS */

.card-img {
  display: block;
  width: 100%;
  height: 15rem;
  margin: 0;
  object-fit: cover;
  }

.card-header {
  display: flex;
  width: 100%;
  color: black;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.card-body {
  background-color: white;
  color: #4f4f4f;
  font-family: 'Poppin', sans-serif;
  text-align: left;  
  margin: 0px;
  padding: 10px 20px;
}

 .card-body > h4 {
   font-weight: 600;
 }

.card-art {
  height: 6rem;
}

.card-footer {
  background-color: white;
  color: #4f4f4f;
  font-family: 'Poppin', sans-serif;
  font-size: smaller;
  text-align: left;  
  margin: 0px;
  padding: 10px 20px;
}

.posted {
  text-transform: uppercase;
  font-size: smaller;
}

/* CARD EFFECTS */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.03,1.03);
  transform: scale(1.03,1.03);
}

/* NAVIGATION */

.topnav {
  overflow: hidden;
  background-color: #f3eddf;
}

.topnav a {
  float: right;
  display: block;
  color: #4f4f4f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.topnav p {
  float: left;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.topnav a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: center;
    display: block;
    text-align: right;
  }
}

/* HEADER */

.header-one {
  text-align: right;
}

.main-title {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  color: #F0B74D;
}

/* ABOUT */

.code {
  width: 800px;
  margin: auto;
  padding: 20px;
}

.console-top {
  padding: 5px;
  margin: 0 auto;
  background-color: #f8f5ef ;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.console-body {
  margin: 0 auto;
  background-color: #4f4f4f;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
}

.console-buttons {
  margin: 0px;
  padding: 5px;
  align-items: center;
  vertical-align: middle;
  overflow: auto;
}

.close, .minimize, .zoom {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin-right: 8px;
  padding: 8px;
  font-size: 8px;
  float: left;
}

.close {
  background-color: #af6055;
}

.minimize {
  background-color: #F0B74D;
}

.zoom {
  background-color: #9BA6A1;
}

.about-text {
  color: #fff;
  margin: 10px;
  padding: 10px;
  font-family: 'Source Code Pro', monospace;
  text-align: left;
}

.about-answer {
  color: #f8f5efb2;
}

@media screen and (max-width:480px){
  .code {
    width:fit-content;
  }
}

@media screen and (min-width:480px) and (max-width: 880px) {
  .code {
    width:fit-content;
  }
}

.port {
  width: 200px;
  display: block;
  object-fit: cover;
}

/* CONTACT */ 

.contact-div {
  background-color: white;
  width: 800px;
  margin: auto;
  padding: 20px;
}


/* #C1A99A */
/* #AF6D55 */
/* #F0B74D */
/* #EEE2DB */
/* 9BA6A1 */